/*
000px - 600px   Phone
600px - 900px   Tablet
900px - 1200px  Tablet Landscape
[1200 - 18000px is where our regular styling will go]
1800px +        Big Screens

Breakpoint argument choices:

- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearFromMiddle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #0e4132;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 7rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
.u-center-text {
  text-align: center !important;
}

.nav {
  height: 5rem;
  width: 100vw;
  background: #f2ede6;
  display: flex;
  justify-content: space-between;
}
.nav .logo-container {
  height: 100%;
  width: 25%;
  margin-left: 2rem;
}
@media only screen and (max-width: 650px) {
  .nav .logo-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
    width: 70%;
  }
}
.nav .logo {
  height: 100%;
  fill: #0e4132;
}
@media only screen and (max-width: 650px) {
  .nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.nav .nav-links {
  width: 65%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #0e4132;
}
@media only screen and (max-width: 650px) {
  .nav .nav-links {
    display: none;
  }
}
.nav .nav-links .nav-link {
  font-weight: 500;
  transition: 0.2s ease-out;
}
.nav .nav-links .nav-link a:active,
.nav .nav-links .nav-link a:visited,
.nav .nav-links .nav-link a {
  color: inherit;
  text-decoration: none;
}
.nav .nav-links .nav-link:hover {
  cursor: pointer;
}
.nav .nav-links .nav-link:after {
  content: "";
  display: block;
  background-color: #0e4132;
  height: 1px;
  width: 0%;
  transition: 0.3s ease-out;
}
.nav .nav-links .nav-link:hover:after {
  width: 100%;
}

.menu-card form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 3rem);
  gap: 4rem;
}
.menu-card form .notes {
  grid-column: 1/span 2;
  width: 100%;
  font-size: 1.2rem;
  height: 10rem;
}
.menu-card form .notes .textarea-notes {
  border-bottom: none !important;
  resize: none;
  height: 10rem;
}
.menu-card .input-group {
  position: relative;
  width: 100%;
  justify-self: center;
}
.menu-card .input-group.disabled input {
  border-bottom: 1px solid rgb(163, 162, 162);
}
.menu-card .input-group.disabled label {
  color: rgb(163, 162, 162);
  font-style: italic;
  font-weight: 100;
}
.menu-card .input-group.whole-width {
  grid-column: 1/-1;
}
.menu-card .input-group.whole-width .indent-left {
  margin-left: 2rem;
  width: 70%;
}
.menu-card .input-group .day-of-the-week {
  font-size: 0.9rem;
  color: gray;
}
.menu-card .input-group .card-label {
  position: absolute;
  top: 50%;
  left: 0.6rem;
  transform: translateY(-50%);
  transition: all 0.2s ease-out;
  font-size: 1.6rem;
  color: #c9c9c9;
}
.menu-card .input-group .card-input {
  width: 100%;
  height: 100%;
  height: 3rem;
  position: relative;
  font-family: inherit;
  font-size: 1.6rem;
  color: #0e4132;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px #748676 solid;
  border-radius: 0;
}
.menu-card .input-group .card-bottomline {
  height: 2px;
  width: 0;
  background-color: #0e4132;
  display: block;
  position: absolute;
  bottom: -8px;
  transition: 0.2s ease-in-out;
}
.menu-card .input-group .card-input:focus ~ .card-label {
  top: -20%;
  left: 0;
  font-size: 1.2rem;
  color: #0e4132;
}
.menu-card .input-group .card-input:focus ~ .card-bottomline {
  width: 100%;
}
.menu-card .input-group .card-input:not(:placeholder-shown).card-input:not(:focus) ~ .card-label {
  top: -20%;
  left: 0;
  font-size: 1.2rem;
  color: #0e4132;
  color: rgb(156, 156, 156);
}
.menu-card .input-group .card-input:not(:placeholder-shown).card-input:not(:focus) {
  border-bottom: 1px solid gray;
  color: #748676;
}

.form-group {
  display: flex;
  position: relative;
  align-self: start;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.form-group .input-group:last-child {
  width: 8rem;
}
.form-group span {
  position: absolute;
  right: 0;
  top: -1rem;
  right: 1rem;
  font-size: 0.9rem;
}
.form-group .input-group.slider {
  position: relative;
  height: 100%;
  width: 6rem;
}
.form-group .input-group.slider input {
  display: none;
}
.form-group .input-group.slider input:checked + label:before {
  left: 1.75rem;
  background-color: #0e4132;
}
.form-group .input-group.slider input:checked + label {
  background-color: #748676;
}
.form-group .input-group.slider label {
  height: 2.5rem;
  width: 4rem;
  background-color: #0e4132;
  border-radius: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.form-group .input-group.slider label:before {
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #748676;
  position: absolute;
  right: 1rem;
  top: 0.25rem;
  left: 0.25rem;
  transition: 0.2s ease-in-out;
}

.card-sides {
  grid-column: 1/-1;
}
.card-sides > .input-group {
  margin-top: 1.8rem;
}
.card-sides > .input-group:first-child {
  margin-top: -2rem;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 30px;
}
.toggle-switch .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
  border-radius: 3.4rem;
}
.toggle-switch .slider .me {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  transition: 0.3s;
  opacity: 0;
}
.toggle-switch .slider .them {
  position: absolute;
  font-size: 1rem;
  color: white;
  top: 50%;
  right: 3.5px;
  transform: translateY(-50%);
  transition: 0.3s;
  opacity: 1;
}
.toggle-switch .slider:before {
  position: absolute;
  left: 3.5px;
  bottom: 3.5px;
  content: "";
  height: 23px;
  width: 23px;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.toggle-switch input {
  display: none;
}
.toggle-switch input:checked + .slider .me {
  opacity: 1;
}
.toggle-switch input:checked + .slider .them {
  opacity: 0;
}
.toggle-switch input:checked + .slider:before {
  transform: translateX(30px);
}

.circle-button {
  border-radius: 50%;
  position: absolute;
  height: 2.7rem;
  width: 2.7rem;
  margin-left: 2rem;
  background-color: #0e4132;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.circle-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #748676;
  width: 70%;
  height: 70%;
}

.save-button {
  height: 30px;
  width: 200px;
  margin-bottom: 0.5rem;
  display: none;
  background-color: #0e4132;
  color: #f2ede6;
  place-items: center;
  position: absolute;
  bottom: 3px;
  left: 50%;
  z-index: 1;
  border: none;
  color: #f2ede6;
  transform: translateX(-50%);
  border-radius: 3.4rem;
}
.save-button.show {
  display: grid;
}

.menu-cards {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, 394px);
  justify-content: center;
}
.menu-cards .menu-card {
  position: relative;
  background: rgb(242, 237, 230);
  height: auto;
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem 2rem;
  transition: 0.2s all ease-in-out;
}
.menu-cards .menu-card.save-button-added {
  padding-bottom: 4rem;
}

.mobile-menu {
  height: 6rem;
  width: 6rem;
  background-color: #748676;
  position: fixed;
  z-index: 3;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
@media only screen and (min-width: 650px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .hamburger {
  height: 0.3rem;
  width: 60%;
  background-color: #0e4132;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s all ease-in-out;
}
.mobile-menu .hamburger:before {
  content: "";
  background-color: #0e4132;
  height: 0.3rem;
  width: 100%;
  position: absolute;
  top: -0.9rem;
  transition: 0.2s all ease-in-out;
}
.mobile-menu .hamburger:after {
  content: "";
  background-color: #0e4132;
  height: 0.3rem;
  width: 100%;
  position: absolute;
  top: 0.9rem;
  transition: 0.2s all ease-in-out;
}
.mobile-menu.active .hamburger {
  transform: translate(-50%, -50%) rotate(45deg);
}
.mobile-menu.active .hamburger:before {
  top: -8rem;
  background-color: transparent;
}
.mobile-menu.active .hamburger:after {
  top: 0;
  transform: rotate(-90deg);
}

.mobile-menu__list {
  padding: 0.5rem 0;
  display: flex;
  list-style: none;
  position: fixed;
  z-index: 2;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
  width: 0rem;
  overflow: hidden;
  transition: 0.2s all ease-in-out;
}
.mobile-menu__list.active {
  width: 35rem;
  bottom: 13rem;
}
.mobile-menu__list .mobile-menu__item {
  display: grid;
  place-items: center;
  width: 9rem;
  padding: 1rem;
  border-radius: 4rem;
  background-color: #748676;
  color: #0e4132;
  position: relative;
  top: 0;
  transition: 0.2s all ease-in-out;
  text-align: center;
}
.mobile-menu__list .mobile-menu__item:hover {
  top: -1.5px;
}
.mobile-menu__list .mobile-menu__item {
  position: relative;
  top: 0;
}

.mobile-menu__list-site {
  padding: 0.5rem 0;
  display: flex;
  list-style: none;
  position: fixed;
  z-index: 2;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
  width: 0rem;
  height: 11rem;
  overflow: hidden;
  transition: 0.2s all ease-in-out;
}
.mobile-menu__list-site a,
.mobile-menu__list-site a:active,
.mobile-menu__list-site a:visited {
  color: inherit;
  text-decoration: none;
}
.mobile-menu__list-site.active {
  width: 35rem;
  bottom: 0rem;
  right: 0;
}
.mobile-menu__list-site .mobile-menu__item-site {
  display: grid;
  place-items: center;
  width: 11rem;
  height: 4.5rem;
  padding: 1rem;
  border-radius: 4rem;
  background-color: #467f4d;
  color: #cbcbcb;
  position: relative;
  top: 0;
  transition: 0.2s all ease-in-out;
}
.mobile-menu__list-site .mobile-menu__item-site.middle {
  position: absolute;
  top: 0;
}
.mobile-menu__list-site .mobile-menu__item-site.left {
  position: absolute;
  top: 5rem;
  left: 0;
}
.mobile-menu__list-site .mobile-menu__item-site.right {
  position: absolute;
  top: 5rem;
  right: 0;
}
.mobile-menu__list-site .mobile-menu__item-site:hover {
  top: -1.5px;
}
.mobile-menu__list-site .mobile-menu__item-site:active {
  top: 0px;
}
.mobile-menu__list-site .mobile-menu__item {
  position: relative;
  top: 0;
}

.darken-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
  display: none;
}
.darken-screen.active {
  display: block;
}

.edit-menu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  background-color: gray;
  transform: translateX(0%);
  transition: 0.3s all cubic-bezier(0.19, 0.56, 0.93, 0.9);
  transition-delay: 0.001s;
}
.edit-menu.activated {
  transform: translateX(-100%);
}
.edit-menu.activated .blank-day {
  height: 100%;
}
.edit-menu.activated .blank-day .button-choices {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  justify-items: center;
  align-items: center;
}
.edit-menu.activated .blank-day .button-choices .duty-btn {
  background-color: transparent;
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 7.5rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  height: 4rem;
  position: relative;
  top: 0;
  transition: all 0.35s;
}
.edit-menu .blank-day {
  background-color: rgb(152, 152, 152);
}

.dom {
  background-color: rgb(101, 174, 247) !important;
}

.inl {
  background-color: rgb(255, 121, 239) !important;
}

.rdo {
  background-color: rgb(149, 247, 129) !important;
}

.trn {
  background-color: rgb(255, 214, 78) !important;
}

.acy {
  background-color: rgb(255, 214, 78) !important;
}

.xxx {
  background-color: rgb(152, 152, 152) !important;
}

.alv {
  background-color: rgb(255, 255, 0) !important;
}

.adm {
  background-color: rgb(255, 255, 0) !important;
}

.skl {
  background-color: rgb(255, 255, 0) !important;
}

.nms {
  background-color: rgb(252, 141, 101) !important;
}

.ops {
  background-color: rgb(33, 255, 218) !important;
}

.sm1 {
  background-color: rgb(255, 174, 174) !important;
}

.sm2 {
  background-color: rgb(252, 135, 135) !important;
}

.sm3 {
  background-color: rgb(254, 115, 115) !important;
}

.rec {
  background-color: orange !important;
}

.trainingButtons {
  background-color: rgb(255, 214, 78);
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 17rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  height: 4rem;
  position: absolute;
  translate: -50% -50%;
  transition: all 0.35s;
}
.trainingButtons.range {
  top: 40%;
  left: -40%;
}
.trainingButtons.range.move {
  left: 50%;
}
.trainingButtons.wfo {
  top: 60%;
  left: 130%;
}
.trainingButtons.wfo.move {
  left: 50%;
}

.smButtons {
  background-color: rgb(255, 174, 174);
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 17rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  transition: all 0.35s;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}
.smButtons.sm1 {
  background-color: rgb(255, 174, 174);
  top: -130% !important;
}
.smButtons.sm1.move {
  top: 30% !important;
}
.smButtons.sm2 {
  background-color: rgb(252, 135, 135);
  top: 50%;
  left: 150%;
}
.smButtons.sm2.move {
  left: 50%;
}
.smButtons.sm3 {
  background-color: rgb(254, 115, 115);
  top: 170%;
}
.smButtons.sm3.move {
  top: 70%;
}

.buttonGroup {
  position: absolute;
  top: 8%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.recoveryButtons {
  background-color: orange;
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 10rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  height: 4rem;
  opacity: 60%;
  transition: all 0.35s;
}
.recoveryButtons.selected {
  scale: 1.15;
  opacity: 100%;
}
.recoveryButtons.iad {
  position: relative;
  left: -50%;
}
.recoveryButtons.iad.move {
  left: 0;
}
.recoveryButtons.dca {
  position: relative;
  right: -50%;
}
.recoveryButtons.dca.move {
  right: 0;
}

.timeCollection {
  position: absolute;
  top: 200%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  transition: 0.35s all;
}
.timeCollection.move {
  top: 10%;
}
.timeCollection .formInputGroup {
  position: relative;
  padding: 2rem;
}
.timeCollection .formInputGroup .timeInput {
  color: rgb(89, 89, 89);
  padding: 0.3rem;
  margin-top: 2.5rem;
  width: 10rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(89, 89, 89);
  text-align: center;
  border-radius: 0;
}
.timeCollection .formInputGroup .timeInput:invalid {
  border-bottom: 1px solid red;
  text-decoration: line-through;
}
.timeCollection .formInputGroup .timeInput:focus {
  outline: none;
  border-bottom: 1px solid green;
  color: rgb(49, 49, 49);
}
.timeCollection .formInputGroup .timeInput:focus ~ .timeLabel, .timeCollection .formInputGroup .timeInput:not(:placeholder-shown) ~ .timeLabel {
  top: 40%;
  color: rgb(49, 49, 49);
}
.timeCollection .formInputGroup .timeInput:not(:placeholder-shown).timeInput:not(:focus) ~ .timeLabel {
  color: rgb(89, 89, 89);
}
.timeCollection .formInputGroup .timeLabel {
  color: rgb(89, 89, 89);
  position: absolute;
  top: 64%;
  left: 55%;
  translate: -50% -50%;
  height: 2rem;
  transition: all 0.35s;
  width: 11rem;
}
.timeCollection .recoverySaveButton {
  grid-column: 1/-1;
  background-color: orange;
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  width: 25rem;
  height: 4rem;
  transition: all 0.35s;
  margin-top: 5rem;
}

.calendar {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  padding: 0 0.5rem;
  padding-top: 2px;
}
@media only screen and (max-width: 650px) {
  .calendar {
    min-width: 100vw;
  }
}
.calendar .day-card-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}
.calendar_day {
  width: 100%;
  border: solid black 1px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px 1fr 1fr;
  justify-items: center;
  padding: 5%;
  overflow: hidden;
  transition: all 1s;
}
.calendar_day-date {
  grid-column: 1/-1;
  font-weight: 600;
  font-size: 1.2rem;
  align-self: start;
  display: grid;
  grid-template-rows: 10px 10px;
  justify-items: center;
  align-items: start;
}
.calendar_day-date .month {
  font-weight: 400;
  font-size: 0.9rem;
}
.calendar_day-date .date {
  align-self: start;
  padding: 0;
}
.calendar_day-day-of-the-week {
  display: none;
}
.calendar_day-duty-type {
  font-size: 1rem;
  align-self: center;
  grid-column: 1/-1;
}
.calendar_day-duty-type .label {
  display: none;
}
.calendar_day-airport {
  display: none;
}
.calendar_day-airport .label {
  display: none;
}
.calendar_day-start-time {
  display: none;
}
.calendar_day-times-label-duty {
  display: none;
}
.calendar_day-start-time-arrow {
  display: none;
}
.calendar_day-end-time {
  display: none;
}
.calendar_day-times-label-home {
  display: none;
}
.calendar_day-leave-home-time {
  font-size: 0.7rem;
  align-self: center;
}
.calendar_day-leave-home-arrow {
  font-size: 0.7rem;
  align-self: center;
}
.calendar_day-get-home-time {
  font-size: 0.7rem;
  align-self: center;
}
.calendar_day-airports {
  display: none;
}
.calendar_day.dom {
  background-color: rgb(101, 174, 247);
}
.calendar_day.inl {
  background-color: rgb(255, 121, 239);
}
.calendar_day.rdo {
  background-color: rgb(149, 247, 129);
}
.calendar_day.trn {
  background-color: rgb(255, 214, 78);
}
.calendar_day.xxx {
  background-color: rgb(152, 152, 152);
}
.calendar_day .edit-icon {
  display: none;
}
.calendar_day.selected {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  padding-top: 10%;
  border-radius: 12px;
  width: 85vw;
  grid-template-rows: 8rem 8rem 10px 3rem 4rem 3rem 8rem;
  justify-items: center;
  animation-name: appearFromMiddle;
  animation-duration: 0.3s;
}
.calendar_day.selected div[class^=calendar] {
  display: block;
  justify-self: center;
  align-self: center;
  font-weight: 400;
  font-size: 1.8rem;
}
.calendar_day.selected .calendar_day-date {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 0px 4.5rem;
  justify-items: center;
  align-self: center;
}
.calendar_day.selected .calendar_day-date .date {
  font-weight: 600;
  font-size: 4.5rem;
}
.calendar_day.selected .calendar_day-date .month {
  font-weight: 400;
  font-size: 1rem;
}
.calendar_day.selected .calendar_day-day-of-the-week {
  grid-column: 3/4;
  font-weight: 400;
  font-size: 1.8rem;
}
.calendar_day.selected .calendar_day-duty-type {
  align-self: center;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 0px 1fr;
  justify-items: center;
  align-self: center;
}
.calendar_day.selected .calendar_day-duty-type .label {
  font-size: 1rem;
}
.calendar_day.selected .calendar_day-duty-type .duty {
  font-size: 2.5rem;
  font-weight: 500;
}
.calendar_day.selected .calendar_day-airport {
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 0px 1fr;
  justify-items: center;
  align-self: center;
}
.calendar_day.selected .calendar_day-airport .label {
  font-size: 1rem;
}
.calendar_day.selected .calendar_day-airport .airport {
  font-size: 2.5rem;
  font-weight: 500;
}
.calendar_day.selected .calendar_day-times-label-duty {
  grid-row: 3/4;
  grid-column: 1/-1;
  font-size: 1rem;
}
.calendar_day.selected .calendar_day-times-label-home {
  grid-row: 5/6;
  grid-column: 1/-1;
  font-size: 1rem;
  align-self: end;
}
.calendar_day.selected .calendar_day-leave-home-time {
  align-self: center;
}
.calendar_day.selected .calendar_day-leave-home-arrow {
  align-self: center;
}
.calendar_day.selected .calendar_day-get-home-time {
  align-self: center;
}
.calendar_day.selected .calendar_day-airports {
  grid-column: 1/-1;
}
.calendar_day.selected .edit-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  padding: 15px;
}

.add-days-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
}
.add-days-modal.show {
  display: block;
}
.add-days-modal .add-days-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  place-content: center;
  padding: 1rem 5rem;
  border-radius: 12px;
  text-align: center;
  max-width: 30rem;
  width: 75%;
  height: 22%;
  background-color: #748676;
}
.add-days-modal .add-days-form label {
  color: #09271e;
}
.add-days-modal .add-days-form #add-days-input {
  padding: 1rem;
  height: 3rem;
  width: 7rem;
  border-radius: 7px;
  border: none;
  justify-self: center;
  color: #09271e;
  background-color: #c9c9c9;
}
.add-days-modal .add-days-form button {
  background-color: #0e4132;
  border-radius: 15px;
  outline: none;
  border: none;
  color: #cbcbcb;
}

@keyframes appearFromMiddle {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(100%);
  }
}
@keyframes disappearFromMiddle {
  0% {
    transform: translate(-50%, -50%) scale(100%);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
