//Colors
$background-color: #0e4132;
$background-color-light: #748676;
$background-color-light-empty-field: #c9c9c9;
$foreground-color: #f2ede6;

//Mobile menu
$mobile-menu-site-options-background: #467f4d;
$mobile-menu-site-options-font: #cbcbcb;
