//Colors
$background-color: #0e4132;
$background-color-light: #748676;
$background-color-light-empty-field: #c9c9c9;
$foreground-color: #f2ede6;

//Mobile menu
$mobile-menu-site-options-background: #467f4d;
$mobile-menu-site-options-font: #cbcbcb;

//duty day colors
$dom: rgb(101, 174, 247);
$inl: rgb(255, 121, 239);
$rdo: rgb(149, 247, 129);
$trn: rgb(255, 214, 78);
