//Colors
$background-color: #0e4132;
$background-color-light: #748676;
$background-color-light-empty-field: #c9c9c9;
$foreground-color: #f2ede6;

//Mobile menu
$mobile-menu-site-options-background: #467f4d;
$mobile-menu-site-options-font: #cbcbcb;

//duty day colors
$dom: rgb(101, 174, 247);
$inl: rgb(255, 121, 239);
$rdo: rgb(149, 247, 129);
$trn: rgb(255, 214, 78);
$acy: rgb(255, 214, 78);
$xxx: rgb(152, 152, 152);
$alv: rgb(255, 255, 0);
$skl: rgb(255, 255, 0);
$adm: rgb(255, 255, 0);
$ops: rgb(33, 255, 218);
$rec: orange;
$sm1: rgb(255, 174, 174);
$sm2: rgb(252, 135, 135);
$sm3: rgb(254, 115, 115);

$nms: rgb(252, 141, 101);

//Other
$backdrop: rgba(0, 0, 0, 0.55);
