<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/fonts/nunito.css">
    <link rel="stylesheet" href="/css/fonts/montserrat.css">
    <script src="../../javascript/frontend/universal.js" defer type="module"></script>

    <title>Family Menu</title>
</head>

<body>

    <div class="nav">
        <div class="logo-container">
            <svg version="1.0" class="logo" xmlns="http://www.w3.org/2000/svg" width="200.000000pt" height="54.000000pt"
                viewBox="0 0 200.000000 54.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,54.000000) scale(0.100000,-0.100000)" fill="#0e4132" stroke="none">
                    <path d="M350 462 c-50 -53 -291 -357 -307 -387 -14 -28 -6 -45 22 -45 30 0
    54 22 154 142 l80 97 -2 -81 -2 -82 42 -12 c40 -12 44 -11 85 18 24 17 70 57
    104 90 l61 59 -4 -78 c-6 -97 5 -116 66 -115 63 1 155 61 174 114 10 28 -9 30
    -59 9 -52 -23 -70 -26 -79 -11 -3 5 2 64 11 131 17 118 17 122 -1 135 -10 8
    -26 14 -36 14 -9 0 -58 -47 -108 -105 -88 -101 -121 -125 -121 -88 0 9 7 59
    17 110 17 99 14 115 -30 127 -16 4 -32 -5 -67 -42z" />
                    <path d="M762 378 c1 -63 2 -66 5 -20 2 28 7 52 11 52 4 0 17 -18 30 -40 12
    -22 26 -40 30 -40 4 0 18 19 32 43 l25 42 6 -55 6 -55 1 73 c1 39 -1 72 -5 72
    -5 0 -21 -24 -37 -52 l-28 -52 -32 52 c-17 29 -34 52 -38 52 -5 0 -7 -33 -6
    -72z" />
                    <path d="M951 424 c-12 -15 -21 -34 -21 -44 0 -10 9 -29 21 -44 22 -27 69 -35
    99 -16 10 6 3 8 -23 3 -45 -7 -77 16 -77 57 0 40 32 64 75 57 21 -3 33 -2 30
    4 -4 5 -24 9 -45 9 -30 0 -43 -6 -59 -26z" />
                    <path d="M1082 378 c1 -63 2 -66 5 -20 2 28 7 52 11 52 4 0 17 -18 30 -40 12
    -22 26 -40 30 -40 4 0 18 19 32 43 l25 42 6 -55 6 -55 1 73 c1 39 -1 72 -5 72
    -5 0 -21 -24 -37 -52 l-28 -52 -32 52 c-17 29 -34 52 -38 52 -5 0 -7 -33 -6
    -72z" />
                    <path d="M1270 380 l0 -70 53 2 52 2 -47 3 c-45 4 -48 6 -48 33 0 26 4 29 38
    33 l37 4 -37 1 c-33 2 -38 5 -38 26 0 22 5 25 43 29 l42 4 -47 1 -48 2 0 -70z" />
                    <path d="M1392 378 c1 -63 2 -66 5 -20 2 28 8 52 13 52 5 0 26 -22 47 -50 21
    -27 41 -49 46 -50 4 0 6 33 5 73 -1 62 -2 65 -5 20 -2 -29 -7 -53 -11 -53 -5
    0 -25 23 -46 50 -21 28 -42 50 -47 50 -5 0 -8 -33 -7 -72z" />
                    <path d="M1550 380 l0 -70 53 2 52 2 -47 3 c-45 4 -48 6 -48 33 0 26 4 29 38
    33 l37 4 -37 1 c-33 2 -38 5 -38 26 0 22 5 25 43 29 l42 4 -47 1 -48 2 0 -70z" />
                    <path d="M1672 378 c1 -63 2 -66 5 -20 2 28 7 52 11 52 4 0 17 -18 30 -40 12
    -22 26 -40 30 -40 4 0 18 19 32 43 l25 42 6 -55 6 -55 1 73 c1 39 -1 72 -5 72
    -5 0 -21 -24 -37 -52 l-28 -52 -32 52 c-17 29 -34 52 -38 52 -5 0 -7 -33 -6
    -72z" />
                    <path d="M1840 447 c0 -3 11 -25 25 -48 14 -24 25 -55 26 -69 0 -21 3 -19 15
    14 7 21 23 53 35 72 11 19 16 34 11 34 -5 0 -17 -16 -28 -35 -10 -19 -22 -35
    -26 -35 -4 0 -14 13 -23 29 -13 27 -35 50 -35 38z" />
                    <path d="M1047 283 c161 -2 425 -2 585 0 161 1 30 2 -292 2 -322 0 -453 -1
    -293 -2z" />
                    <path d="M1090 175 c0 -85 17 -103 22 -22 l3 52 24 -42 c22 -39 41 -55 41 -35
    0 4 10 23 23 42 l22 35 6 -55 c5 -52 6 -50 7 25 l1 80 -32 -52 c-17 -29 -35
    -53 -39 -53 -4 0 -19 22 -35 50 -15 27 -31 50 -35 50 -5 0 -8 -34 -8 -75z" />
                    <path d="M1790 230 c0 -5 -8 -10 -19 -10 -21 0 -36 -39 -21 -54 5 -5 2 -18 -7
    -32 -9 -15 -11 -24 -4 -24 6 0 11 5 11 12 0 9 3 9 12 0 28 -28 108 4 108 44 0
    13 -4 24 -10 24 -5 0 -10 9 -10 19 0 19 -18 31 -46 31 -8 0 -14 -4 -14 -10z" />
                    <path d="M1275 186 c-31 -47 24 -107 72 -76 16 10 15 11 -6 6 -26 -5 -61 9
    -61 24 0 6 20 10 45 10 49 0 58 15 27 43 -26 24 -59 21 -77 -7z m59 8 c30 -12
    18 -34 -19 -34 -37 0 -43 8 -23 28 14 14 20 14 42 6z" />
                    <path d="M1392 150 l1 -55 6 44 c11 80 71 86 71 6 0 -25 5 -45 10 -45 13 0 13
    66 0 91 -9 15 -20 19 -50 17 l-40 -3 2 -55z" />
                    <path d="M1511 173 c-1 -52 18 -74 65 -70 l34 2 -1 55 -1 55 -9 -44 c-16 -81
    -66 -81 -79 1 l-7 43 -2 -42z" />
                </g>
            </svg>
        </div>

        <ul class="nav-links">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/calendar">Calendar</a></li>
            <li class="nav-link"><a href="/menu">Menu</a>
            </li>
        </ul>
    </div>