<%- include('partials/header.ejs') %>
    <div class="container">

        <div class="calendar">
            <div class="calendar_row">
                <div class="calendar_day">
                    <div class="calendar_day-date">17</div>
                    <div class="calendar_day-day-of-the-week">Sunday</div>
                    <div class="calendar_day-duty-type">DOM</div>
                    <div class="calendar_day-airport">IAD</div>
                    <div class="calendar_day-start-time">0800</div>
                    <div class="calendar_day-end-time">1500</div>
                    <div class="calendar_day-leave-home-time">💤</div>
                    <div class="calendar_day-get-home-time">1616</div>
                    <div class="calendar_day-airports">SFO-DEN-IAD</div>
                </div>
                <div class="calendar_day"></div>
                <div class="calendar_day"></div>
                <div class="calendar_day"></div>
                <div class="calendar_day"></div>
                <div class="calendar_day"></div>
                <div class="calendar_day"></div>
            </div>
        </div>
    </div>









    <div class="mobile-menu" id="hamburger-menu">
        <span class="hamburger"> </span>
    </div>
    <ul class="mobile-menu__list" id="mobile-menu__list">
        <li class="mobile-menu__item" id="add-menu-card">Add Week</li>
    </ul>
    <ul class="mobile-menu__list-site" id="mobile-menu__list-site">
        <li class="mobile-menu__item-site" id="add-menu-card"><a href="/">Home</a></li>
        <li class="mobile-menu__item-site" id="add-menu-card"><a href="/menu">Menu</a></li>
    </ul>
    <div class="darken-screen" id="darken-screen"></div>

    <%- include('partials/footer.ejs') %>