<%- include('partials/header.ejs') %>
    <div class="container">

        <h1>Log in</h1>
    </div>

    <div class="mobile-menu" id="hamburger-menu">
        <span class="hamburger"> </span>
    </div>
    <ul class="mobile-menu__list" id="mobile-menu__list">
    </ul>
    <ul class="mobile-menu__list-site" id="mobile-menu__list-site">
        <li class="mobile-menu__item-site" id="add-menu-card"><a href="/calendar">Calendar</a></li>
        <li class="mobile-menu__item-site" id="add-menu-card"><a href="/menu">Menu</a></li>
    </ul>
    <div class="darken-screen" id="darken-screen"></div>

    <%- include('partials/footer.ejs') %>