<div class="menu-card" data-card="1" data-new="no" id="testCard" data-meal-ID="2">
    <form action="#">
        <div class="save-button">
            Save
        </div>
        <div class="input-group">
            <input data-original-entry="" type="date" id="card-date-1" class="card-input" placeholder=" "
                autocomplete="off" data-type="date">
            <label for="card-date-1" class="card-label">Date
            </label>
        </div>

        <div class="form-group">
            <span class="tom-home">Will Tom be home?</span>
            <div class="input-group slider">
                <input data-original-entry="" checked type="checkbox" id="card-tom-home-checkbox-1" class="card-input"
                    placeholder=" " autocomplete="off" data-type="homeOrNo">
                <label for="card-tom-home-checkbox-1" class="">
                </label>
            </div>

            <div class="input-group">
                <input data-original-entry="" type="text" id="card-time-home-1" class="card-input" placeholder=" "
                    autocomplete="off" data-type="timeOff">
                <label for="card-time-home-1" class="card-label">Time
                </label>
            </div>

        </div>


        <div class="input-group whole-width">
            <input data-original-entry="" type="text" id="card-other-activities-1" class="card-input" placeholder=" "
                autocomplete="off" data-type="other-activities">
            <label for="card-other-activities-1" class="card-label">Conflicts (gymnastics,
                volleyball)...
            </label>
        </div>

        <div class="input-group whole-width">
            <input data-original-entry="Corned Beef" value="Corned Beef" type="text" id="card-meal-1" class="card-input"
                placeholder=" " autocomplete="off" data-type="meal">
            <label for="card-meal-1" class="card-label">Entree
            </label>
        </div>

        <div id="card-sides-1" class="card-sides">

            <div class="input-group whole-width close-top-margin">
                <input data-original-entry="" type="text" id="card-side-1-1" class="card-input indent-left"
                    placeholder=" " autocomplete="off" data-type="side">
                <label for="card-side-1-1" class="card-label indent-left">Side
                </label>
                <div class="circle-button" id="add-side-1"><svg fill="red" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24">
                        <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
                    </svg></div>
            </div>

        </div>



        <div class="input-group notes">
            <textarea data-original-entry="" name="card-notes-1" id="card-notes-1" cols="40" rows="3" id="card-notes-1"
                class="card-input textarea-notes" placeholder="Notes" data-type="notes"></textarea>
        </div>
    </form>
</div>



<div class="menu-card" data-card="2" data-new="no" id="testCard" data-meal-ID="3">
    <form action="#">
        <div class="save-button">
            Save
        </div>
        <div class="input-group">
            <input data-original-entry="" type="date" id="card-date-2" class="card-input" placeholder=" "
                autocomplete="off" data-type="date">
            <label for="card-date-2" class="card-label">Date
            </label>
        </div>

        <div class="form-group">
            <span class="tom-home">Will Tom be home?</span>
            <div class="input-group slider">
                <input data-original-entry="" checked type="checkbox" id="card-tom-home-checkbox-2" class="card-input"
                    placeholder=" " autocomplete="off" data-type="homeOrNo">
                <label for="card-tom-home-checkbox-2" class="">
                </label>
            </div>

            <div class="input-group">
                <input data-original-entry="" type="text" id="card-time-home-2" class="card-input" placeholder=" "
                    autocomplete="off" data-type="timeOff">
                <label for="card-time-home-2" class="card-label">Time
                </label>
            </div>

        </div>


        <div class="input-group whole-width">
            <input data-original-entry="" type="text" id="card-other-activities-2" class="card-input" placeholder=" "
                autocomplete="off" data-type="other-activities">
            <label for="card-other-activities-2" class="card-label">Conflicts (gymnastics,
                volleyball)...
            </label>
        </div>

        <div class="input-group whole-width">
            <input data-original-entry="Corned Beef" value="Corned Beef" type="text" id="card-meal-2" class="card-input"
                placeholder=" " autocomplete="off" data-type="meal">
            <label for="card-meal-2" class="card-label">Entree
            </label>
        </div>

        <div id="card-sides-2" class="card-sides">

            <div class="input-group whole-width close-top-margin">
                <input data-original-entry="" type="text" id="card-side-1-2" class="card-input indent-left"
                    placeholder=" " autocomplete="off" data-type="side">
                <label for="card-side-1-2" class="card-label indent-left">Side
                </label>
                <div class="circle-button" id="add-side-2"><svg fill="red" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24">
                        <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
                    </svg></div>
            </div>

        </div>



        <div class="input-group notes">
            <textarea data-original-entry="" name="card-notes-1" id="card-notes-2" cols="40" rows="3" id="card-notes-2"
                class="card-input textarea-notes" placeholder="Notes" data-type="notes"></textarea>
        </div>
    </form>
</div>