@use "../abstracts/variables";

.edit-menu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  background-color: gray;
  transform: translateX(0%);

  transition: 0.3s all cubic-bezier(0.19, 0.56, 0.93, 0.9);
  transition-delay: 0.001s;

  &.activated {
    transform: translateX(-100%);
    .blank-day {
      height: 100%;

      .button-choices {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        justify-items: center;
        align-items: center;

        .duty-btn {
          background-color: transparent;
          margin: 1rem;
          border: black 2px solid;
          padding: 0.75rem;
          border-radius: 1.5rem;
          width: 7.5rem;
          text-align: center;
          line-height: 2.1rem;
          font-size: 1.2rem;
          height: 4rem;

          position: relative;
          top: 0;
          transition: all 0.35s;
        }
      }
    }
  }

  .blank-day {
    background-color: variables.$xxx;
  }
}

.dom {
  background-color: variables.$dom !important;
}
.inl {
  background-color: variables.$inl !important;
}
.rdo {
  background-color: variables.$rdo !important;
}
.trn {
  background-color: variables.$trn !important;
}
.acy {
  background-color: variables.$acy !important;
}
.xxx {
  background-color: variables.$xxx !important;
}
.alv {
  background-color: variables.$alv !important;
}
.adm {
  background-color: variables.$adm !important;
}
.skl {
  background-color: variables.$skl !important;
}
.nms {
  background-color: variables.$nms !important;
}
.ops {
  background-color: variables.$ops !important;
}
.sm1 {
  background-color: variables.$sm1 !important;
}
.sm2 {
  background-color: variables.$sm2 !important;
}
.sm3 {
  background-color: variables.$sm3 !important;
}
.rec {
  background-color: variables.$rec !important;
}

.trainingButtons {
  background-color: variables.$trn;
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 17rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  height: 4rem;

  position: absolute;
  translate: -50% -50%;
  transition: all 0.35s;

  &.range {
    top: 40%;
    left: -40%;
    &.move {
      left: 50%;
    }
  }

  &.wfo {
    top: 60%;
    left: 130%;
    &.move {
      left: 50%;
    }
  }
}
.smButtons {
  background-color: variables.$sm1;
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 17rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  height: 4rem;

  position: absolute;
  left: 50%;
  translate: -50% -50%;
  transition: all 0.35s;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;

  &.sm1 {
    background-color: variables.$sm1;

    top: -130% !important;
    &.move {
      top: 30% !important;
    }
  }

  &.sm2 {
    background-color: variables.$sm2;

    top: 50%;
    left: 150%;
    &.move {
      left: 50%;
    }
  }

  &.sm3 {
    background-color: variables.$sm3;

    top: 170%;
    &.move {
      top: 70%;
    }
  }
}

.buttonGroup {
  position: absolute;
  top: 8%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.recoveryButtons {
  background-color: variables.$rec;
  margin: 1rem;
  border: black 2px solid;
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 10rem;
  text-align: center;
  line-height: 2.1rem;
  font-size: 1.2rem;
  height: 4rem;
  opacity: 60%;
  transition: all 0.35s;

  &.selected {
    scale: 1.15;
    opacity: 100%;
  }

  &.iad {
    position: relative;
    left: -50%;
    &.move {
      left: 0;
    }
  }

  &.dca {
    position: relative;
    right: -50%;
    &.move {
      right: 0;
    }
  }
}

.timeCollection {
  position: absolute;
  top: 200%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;

  transition: 0.35s all;
  &.move {
    top: 10%;
  }

  .formInputGroup {
    position: relative;
    padding: 2rem;

    .timeInput {
      color: rgb(89, 89, 89);
      padding: 0.3rem;
      margin-top: 2.5rem;
      width: 10rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgb(89, 89, 89);
      text-align: center;
      border-radius: 0;

      &:invalid {
        border-bottom: 1px solid red;
        text-decoration: line-through;
      }

      &:focus {
        outline: none;
        border-bottom: 1px solid green;
        color: rgb(49, 49, 49);
      }

      &:focus ~ .timeLabel,
      &:not(:placeholder-shown) ~ .timeLabel {
        top: 40%;
        color: rgb(49, 49, 49);
      }
    }
    .timeInput:not(:placeholder-shown).timeInput:not(:focus) ~ .timeLabel {
      color: rgb(89, 89, 89);
    }

    .timeLabel {
      color: rgb(89, 89, 89);
      position: absolute;
      top: 64%;
      left: 55%;
      translate: -50% -50%;
      height: 2rem;
      transition: all 0.35s;
      width: 11rem;
    }
  }

  .recoverySaveButton {
    grid-column: 1/-1;
    background-color: variables.$rec;
    margin: 1rem;
    border: black 2px solid;
    padding: 0.75rem;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 2.1rem;
    font-size: 1.2rem;
    width: 25rem;
    height: 4rem;
    transition: all 0.35s;
    margin-top: 5rem;
  }
}
